/* ================================================
                Extra small device start
================================================== */
@media (max-width: 575px) {
  /* navbar start */
  .navbar .navbar-brand img {
    width: 163px;
  }

  .navbar-light .navbar-toggler {
    border-color: #a60084;
    margin-top: 30px;
  }

  .navbar-light .navbar-toggler i {
    font-size: 20px;
    color: #a60084;
  }

  .navbar .navbar-collapse {
    background: #0b001b;
    padding-bottom: 15px;
  }

  .navbar-light .navbar-nav {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .navbar .collapse .nav-btn {
    margin-top: 30px;
    margin-left: 48px !important;
  }

  .navbar .collapse .nav-btn a {
    padding: 0 20px !important;
    line-height: 40px;
  }
  /* navbar ends */

  /* banner start */
  #banner {
    padding-top: 120px;
  }

  #banner .banner-images .images {
    position: unset !important;
    text-align: center;
  }

  #banner .banner-images .images img {
    width: 290px;
  }

  #banner .banner-text h6 {
    padding-top: 50px;
  }

  #banner .banner-text h1 {
    margin-top: 0 !important;
    font-size: 190px;
    text-align: center;
    margin-top: -20px !important;
  }

  #banner .banner-text p {
    margin-top: 0 !important;
    margin-right: 0;
  }

  #banner .banner-text .banner-btn {
    margin-left: 74px;
    margin-top: 25px;
  }
  /* banner ends */

  /* card start */
  #card {
    padding-bottom: 100px;
  }

  #card .card-main {
    flex-direction: column;
    margin-top: -110px;
  }

  #card .card-main .card-item {
    position: unset !important;
  }

  #card .card-main .card-item {
    width: 100%;
  }
  /* card ends */

  /* related games start */
  #related {
    padding-bottom: 50px;
  }

  #related .related-main .related-item {
    margin-bottom: 20px !important;
  }

  #related .related-main .related-item .related-overlay a {
    margin-top: 15px;
  }
  /* related games ends */

  /* unlock start */
  #unlock {
    padding-top: 50px;
  }

  #unlock .unlock-text header h1 {
    font-size: 40px;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }

  #unlock .unlock-text .text a {
    margin-top: 40px;
    padding: 0 20px !important;
    line-height: 48px;
  }
  /* unlock ends */

  /* pricing start */
  #pricing {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  #pricing .pricing-main .pricing-item {
    margin-bottom: 100px;
  }

  #pricing .pricing-main .item3 {
    margin-bottom: 0;
  }

  #pricing .pricing-main .pricing-item .plan-btn a {
    padding: 0 15px !important;
  }

  /* pricing ends */

  /* ask start */
  #ask {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #ask header h1 {
    font-size: 29px;
  }

  #ask .faq .faq-main .faq-item .faq-heading .down-arrow {
    right: -22px;
  }

  #ask .time-remaning .timer-text h3 {
    line-height: 25px;
    font-size: 20px;
  }

  #ask .time-remaning ul li {
    width: 48px;
    height: 48px;
    margin-right: 15px !important;
  }

  #ask .time-remaning ul li .time {
    font-size: 15px;
  }

  #ask .time-remaning ul li .time1 {
    padding-top: 3px !important;
  }

  #ask .time-remaning .timer-text {
    margin-right: 0;
  }

  #ask .today .time-list ul li .time-list-flag {
    left: 60%;
    transform: translateY(-50%) translateX(-60%);
  }
  /* ask ends */

  /* sub-pay ends */
  #sub-pay .subscribe form input {
    width: 250px;
  }

  #sub-pay .subscribe form a {
    right: 0px;
  }
  #sub-pay .payment {
    margin-top: 20px;
  }
  /* sub-pay ends */

  /* footer ends */
  footer .f-bottom::before {
    left: 0;
  }

  footer .f-bottom::after {
    right: 0;
  }
  /* footer ends */
}

/* ================================================
                Extra small device ends
================================================== */

/* ================================================
                small device start
================================================== */

@media (min-width: 576px) and (max-width: 767px) {
  /* navbar start */
  .navbar .navbar-brand img {
    width: 163px;
  }

  .navbar-light .navbar-toggler {
    border-color: #a60084;
    margin-top: 30px;
  }

  .navbar-light .navbar-toggler i {
    font-size: 20px;
    color: #a60084;
  }

  .navbar .navbar-collapse {
    background: #0b001b;
    padding-bottom: 25px;
  }

  .navbar-light .navbar-nav {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .navbar .collapse .nav-btn {
    margin-top: 30px;
    margin-left: 158px !important;
  }

  .navbar .collapse .nav-btn a {
    padding: 0 20px !important;
    line-height: 40px;
  }
  /* navbar ends */

  /* banner start */
  #banner {
    padding-top: 120px;
  }

  #banner .banner-images .images {
    position: unset !important;
    text-align: center;
  }

  #banner .banner-images .images img {
    width: 340px;
  }

  #banner .banner-text h6 {
    padding-top: 50px;
  }

  #banner .banner-text h1 {
    margin-top: 0 !important;
    font-size: 290px;
    text-align: center;
    margin-top: -20px !important;
  }

  #banner .banner-text p {
    margin-top: 0 !important;
    margin-right: 0;
  }

  #banner .banner-text .banner-btn {
    margin-left: 180px;
    margin-top: 25px;
  }
  /* banner ends */

  /* card start */
  #card {
    padding-bottom: 100px;
  }

  #card .card-main {
    flex-direction: column;
    margin-top: -110px;
  }

  #card .card-main .card-item {
    position: unset !important;
  }

  #card .card-main .card-item {
    width: 100%;
  }
  /* card ends */

  /* related games start */
  #related {
    padding-bottom: 50px;
  }

  #related .related-main .related-item {
    margin-bottom: 20px !important;
  }

  #related .related-main .related-item .related-overlay h3 {
    padding-top: 196px;
    font-size: 30px;
  }

  #related .related-main .related-item .related-overlay a {
    margin-top: 15px;
  }
  /* related games ends */

  /* unlock start */
  #unlock {
    padding-top: 50px;
  }

  #unlock .unlock-text header h1 {
    font-size: 40px;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
  }

  #unlock .unlock-text .text a {
    margin-top: 40px;
    padding: 0 20px !important;
    line-height: 48px;
  }
  /* unlock ends */

  /* pricing start */
  #pricing {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  #pricing .pricing-main .pricing-item {
    margin-bottom: 100px;
  }

  #pricing .pricing-main .item3 {
    margin-bottom: 0;
  }

  /* pricing ends */

  /* ask start */

  #ask .faq .faq-main .faq-item .faq-heading .down-arrow {
    right: -25px;
  }
  /* ask ends */

  /* sub-pay ends */
  #sub-pay .subscribe form input {
    width: 470px;
  }

  #sub-pay .subscribe form a {
    right: 0px;
  }
  #sub-pay .payment {
    margin-top: 20px;
  }
  /* sub-pay ends */

  /* footer ends */
  footer .f-bottom::before {
    left: 0;
  }

  footer .f-bottom::after {
    right: 0;
  }
  /* footer ends */
}

/* ================================================
                small device ends
================================================== */

/* ================================================
                medium device ends
================================================== */

@media (min-width: 768px) and (max-width: 991px) {
  /* navbar start */
  .navbar .navbar-brand img {
    width: 163px;
  }

  .navbar-light .navbar-toggler {
    border-color: #a60084;
    margin-top: 30px;
  }

  .navbar-light .navbar-toggler i {
    font-size: 20px;
    color: #a60084;
  }

  .navbar .navbar-collapse {
    background: #0b001b;
    padding-bottom: 25px;
  }

  .navbar-light .navbar-nav {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .navbar .collapse .nav-btn {
    margin-top: 30px;
    margin-left: 240px !important;
  }

  .navbar .collapse .nav-btn a {
    padding: 0 20px !important;
    line-height: 40px;
  }
  /* navbar ends */

  /* banner start */
  #banner {
    padding-top: 100px;
  }

  #banner .banner-images .images {
    top: 98px;
    left: -100px;
  }

  #banner .banner-images .images img {
    width: 460px;
  }

  #banner .banner-text h1 {
    margin-top: -25px;
    margin-left: -08px;
    font-size: 245px;
  }

  #banner .banner-text p {
    margin-right: 0;
  }

  #banner .banner-text .banner-btn {
    margin-left: 100px;
  }

  #banner .banner-text .banner-btn a {
    line-height: 50px;
    padding: 0 25px !important;
  }
  /* banner ends */

  /* card start */
  #card .card-main .item2 {
    left: 231px;
  }

  #card .card-main .item3 {
    left: 462px;
  }
  /* card ends */

  /* related start */

  #related {
    padding-bottom: 65px;
  }

  #related header h1 {
    font-size: 40px;
  }

  #related .related-main .related-item .related-overlay h3 {
    padding-top: 60px;
  }

  #related .related-main .related-item .related-overlay a {
    line-height: 45px;
    padding: 0 14px !important;
    margin-top: 12px;
  }
  /* related ends */

  /* unlock start */
  #unlock {
    padding-top: 0;
  }

  #unlock .unlock-image {
    padding-top: 125px;
  }

  #unlock .unlock-text header h1 {
    padding-top: 50px !important;
    padding-bottom: 30px !important;
    font-size: 40px;
  }

  #unlock .unlock-text .text a {
    line-height: 45px;
    padding: 0 20px !important;
  }
  /* unlock ends */

  /* pricing start */
  #pricing {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  #pricing .pricing-main {
    padding-top: 60px;
  }

  #pricing .pricing-main .pricing-item .plan-header {
    top: -44px;
  }

  #pricing .pricing-main .pricing-item .plan-header h6 {
    line-height: 44px;
  }

  #pricing .pricing-main .pricing-item .plan-content h2 {
    padding-top: 30px;
    padding-bottom: 0px !important;
  }

  #pricing .pricing-main .pricing-item .plan-content p {
    padding-bottom: 10px !important;
  }

  #pricing .pricing-main .pricing-item .plan-content ul {
    padding-top: 10px !important;
    padding-bottom: 40px !important;
  }

  #pricing .pricing-main .pricing-item .plan-content ul li {
    padding-bottom: 4px !important;
  }

  #pricing .pricing-main .pricing-item .plan-btn {
    bottom: -16px;
  }

  #pricing .pricing-main .pricing-item .plan-btn a {
    font-size: 20px;
    line-height: 40px;
    padding: 0 5px !important;
  }

  /* pricing ends */

  /* ask start*/
  #ask {
    padding-top: 60px;
  }

  #ask .today {
    margin-top: 20px;
  }

  #ask .time-remaning .timer-text {
    margin-right: 280px;
  }
  /* ask ends*/

  /* sub-pay start*/
  #sub-pay .subscribe form input {
    width: 290px;
  }

  #sub-pay .subscribe form a {
    right: 0;
  }
  /* sub-pay ends*/

  /* footer start*/
  footer .f-item .f-header h2 {
    font-size: 30px;
  }

  footer .about-part .f-main ul li a {
    width: 40px;
    line-height: 40px;
  }

  footer .links-part .f-main ul li span {
    width: 62%;
  }
  /* footer ends*/
}

/* ================================================
                medium device ends
================================================== */

/* ================================================
                large device start
================================================== */

@media (min-width: 992px) and (max-width: 1199px) {
  /* nav start */
  .navbar-light .navbar-nav .nav-link {
    padding: 0 18px !important;
  }

  .navbar .collapse .nav-btn a {
    padding: 0 20px !important;
  }
  /* nav ends */

  /* banner start*/
  #banner .banner-images .images img {
    width: 620px;
  }

  #banner .banner-text p {
    margin-right: 0;
  }
  /* banner ends*/

  /* card start*/
  #card .card-main .item2 {
    left: 311px;
  }

  #card .card-main .item3 {
    left: 622px;
  }
  /* card ends*/

  /* related games start*/
  #related .related-main .related-item .related-overlay h3 {
    padding-top: 85px;
  }

  #related .related-main .related-item .related-overlay a {
    margin-top: 30px;
  }
  /* related games ends*/

  /* pricing start*/
  #pricing .pricing-main .pricing-item .plan-btn a {
    padding: 0 16px !important;
  }
  /* pricing ends*/

  /* ask and today's start*/

  #ask .faq .faq-main .faq-item .faq-heading .down-arrow {
    right: -8px;
  }
  /* ask and today's ends*/

  /* subscribe and payment start */
  #sub-pay .subscribe form a {
    right: 0;
  }

  #sub-pay .subscribe form input {
    width: 410px;
  }
  /* subscribe and payment ends */
}

/* ================================================
                large device ends
================================================== */

/* ================================================
            extra extra large device ends
================================================== */

@media (min-width: 1400px) {
  /* banner start */
  #banner .banner-images .images {
    left: -80px;
  }

  #banner .banner-text p {
    margin-right: 150px;
  }

  #banner .banner-text .banner-btn {
    margin-left: 172px;
  }
  /* banner ends */

  /* card start */
  #card .card-main .item2 {
    left: 432px;
  }

  #card .card-main .item3 {
    left: 864px;
  }
  /* card ends */

  /* unlock start */
  #unlock .unlock-text .text p {
    line-height: 26px;
    font-size: 16px;
  }
  /* unlock ends */

  /* subscribe and payment start */
  #sub-pay .subscribe form input {
    width: 627px;
  }
  /* subscribe and payment ends */
}

/* ================================================
            extra extra large device ends
================================================== */
