:root {
  --anton: "Anton", sans-serif;
  --nun: "Nunito", sans-serif;
  --btnhov: linear-gradient(0deg, #a60084, #ff39dc);
  --btnnormal: linear-gradient(0deg, #570dc8, #9e4efc);
  --active: #ff39dc;
  --navlink: #944bff;
  --bg1: #0b001b;
  --over85: rgba(21, 0, 53, 0.85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

/* =================================================================
                          common css ends
================================================================= */

.anton-r {
  font-family: var(--anton);
  font-weight: 400;
}

.nun-r {
  font-family: var(--nun);
  font-weight: 400;
}

.nun-m {
  font-family: var(--nun);
  font-weight: 500;
}

.nun-sb {
  font-family: var(--nun);
  font-weight: 600;
}

.nun-b {
  font-family: var(--nun);
  font-weight: 700;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fs-48 {
  font-size: 48px;
}

.fs-50 {
  font-size: 50px;
}

.fs-331 {
  font-size: 331px;
}

/* =================================================================
                          font css ends
================================================================= */

.navbar {
  z-index: 99999;
}

.navbar .navbar-brand img {
  width: 202px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--active);
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 25px !important;
  color: var(--navlink);
  transition: all linear 0.4s;
}

.navbar-light .navbar-nav {
  margin-left: 40px !important;
  margin-top: 75px !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--active);
}

.navbar .collapse .nav-btn a {
  background: var(--btnnormal);
  padding: 0 30px !important;
  line-height: 50px;
  filter: drop-shadow(0px 5px 0px #3a0090);
  text-shadow: 0px 6px 3px #3a0090;
  transition: all linear 0.4s;
}

.navbar .collapse .nav-btn a:first-of-type {
  margin-right: 15px !important;
}

.navbar .collapse .nav-btn {
  margin-top: 75px;
}

.navbar .collapse .nav-btn a:hover {
  background: var(--btnhov);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 6px 3px #661355;
}

/* =================================================================
                          navbar css ends
================================================================= */

#banner {
  background: #150035 !important;
  padding-top: 180px;
  padding-bottom: 250px;
}

#banner .banner-images .images {
  top: 0;
  left: -190px;
}

#banner .banner-text h6 {
  padding-top: 80px;
}

#banner .banner-text h1 {
  margin-top: -45px;
  margin-left: -10px;
  color: #f8a724;
  text-shadow: 0px 0px 35px rgba(255, 0, 230, 0.4);
}

#banner .banner-text p {
  margin-top: -25px;
  line-height: 26px;
  margin-right: 80px;
}

#banner .banner-text .banner-btn {
  margin-left: 160px;
  margin-top: 30px;
}

#banner .banner-text .banner-btn a {
  line-height: 54px;
  padding: 0 30px !important;
  background: var(--btnnormal);
  filter: drop-shadow(0px 5px 0px #3a0090);
  text-shadow: 0px 6px 3px #3a0090;
  transition: all linear 0.4s;
}

#banner .banner-text .banner-btn a:hover {
  background: var(--btnhov);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 6px 3px #661355;
}

/* =================================================================
                          banner css ends
================================================================= */

#card {
  background: var(--bg1);
  padding-bottom: 180px;
}

#card .card-main .card-item {
  /* background: var(--btnnormal); */
  /* background: linear-gradient(55deg, #9e4efc, #570dc8); */
  background: linear-gradient(#6317d0 30%, rgb(124, 30, 255) 100%);
  width: 33.33%;
}

#card .card-main .item1 {
  box-shadow: 1px 0px 100px 0px rgba(31, 7, 67, 0.5);
  top: -115px;
  left: 0;
  z-index: 3;
}

#card .card-main .item2 {
  box-shadow: 1px 0px 100px 0px rgba(31, 7, 67, 0.5);
  top: -115px;
  left: 372px;
  z-index: 2;
}

#card .card-main .item3 {
  top: -115px;
  left: 744px;
  z-index: 1;
}

#card .card-main .card-item h3 {
  padding-top: 35px;
  color: #f5a60e;
  text-shadow: 0px 5px 3px rgba(17, 0, 16, 0.4);
  padding-bottom: 20px !important;
}

#card .card-main .card-item h1 {
  text-shadow: 3px 6px 3px #5813b8;
}

#card .card-main .card-item p {
  /* font-size: 13px !important; */
  padding: 10px 0 40px 0 !important;
}

/* =================================================================
card css ends
================================================================= */

header h1 {
  color: #f5a60e;
  text-shadow: 0px 0px 35px rgba(255, 0, 230, 0.3);
}

#related {
  background: var(--bg1);
  padding-bottom: 100px;
}

#related .related-main {
  margin-top: 50px;
}

#related .related-main .related-item .related-overlay {
  background: var(--over85);
  bottom: -100%;
  left: 0;
  transition: all linear 0.4s;
}

#related .related-main .related-item img {
  transition: all linear 0.4s;
}

#related .related-main .related-item:hover img {
  transform: scale(1.2);
}

#related .related-main .related-item:hover .related-overlay {
  bottom: 0;
  left: 0;
}

#related .related-main .related-item .related-overlay h3 {
  padding-top: 160px;
}

#related .related-main .related-item .related-overlay a {
  background: linear-gradient(0deg, #570dc8, #9e4efc);
  line-height: 54px;
  padding: 0 30px !important;
  border-radius: 6px !important;
  filter: drop-shadow(0px 5px 0px #3a0090);
  text-shadow: 0px 6px 3px #570dc8;
  /* transition: all linear 0.4s; */
  margin-top: 45px;
}

#related .related-main .related-item .related-overlay a:hover {
  background: var(--btnhov);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 6px 3px #661355;
}

/* =================================================================
                          related css ends
================================================================= */

#unlock {
  padding-top: 100px;
  background: #150035;
  padding-bottom: 5px;
}

#unlock .unlock-text header h1 {
  padding-top: 70px !important;
  padding-bottom: 50px !important;
}

#unlock .unlock-text .text p {
  line-height: 26px;
}

#unlock .unlock-text .text p:last-of-type {
  padding-top: 23px !important;
}

#unlock .unlock-text .text a {
  background: linear-gradient(0deg, #570dc8, #9e4efc);
  line-height: 52px;
  padding: 0 30px !important;
  border-radius: 6px !important;
  filter: drop-shadow(0px 5px 0px #3a0090);
  text-shadow: 0px 6px 3px #570dc8;
  /* transition: all linear 0.4s; */
  margin-top: 52px;
}

#unlock .unlock-text .text a:hover {
  background: var(--btnhov);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 6px 3px #661355;
}

/* =================================================================
                          unlock css ends
================================================================= */

#pricing {
  background: var(--bg1);
  padding-top: 95px;
  padding-bottom: 105px;
}

#pricing .pricing-main {
  padding-top: 90px;
}

#pricing .pricing-main .pricing-item {
  position: relative;
  transition: all linear 0.4s;
}

#pricing .pricing-main .pricing-item:hover {
  transform: translateY(25px);
}

#pricing .pricing-main .pricing-item .plan-header {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
}

#pricing .pricing-main .pricing-item .plan-header h6 {
  line-height: 54px;
  background: linear-gradient(0deg, #a60084, #ff39dc);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 5px 2px #661355;
  opacity: 0;
  border-radius: 5px;
  transition: all linear 0.4s;
}

#pricing .pricing-main .pricing-item:hover .plan-header h6 {
  opacity: 1;
}

#pricing .pricing-main .pricing-item .plan-content {
  background: linear-gradient(0deg, #570dc8, #9e4efc);
  border-radius: 5px;
}

#pricing .pricing-main .pricing-item .plan-content h2 {
  padding-top: 60px;
  text-shadow: 0px 5px 1px #5813b8;
  padding-bottom: 15px !important;
}

#pricing .pricing-main .pricing-item .plan-content p {
  margin-top: -5px;
  padding-bottom: 26px !important;
  position: relative;
}

#pricing .pricing-main .pricing-item .plan-content p::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #0b001b;
  position: absolute;
  bottom: 0;
  left: 0;
}

#pricing .pricing-main .pricing-item .plan-content ul {
  padding-top: 25px !important;
  padding-bottom: 50px !important;
}

#pricing .pricing-main .pricing-item .plan-content ul li {
  padding-bottom: 17px !important;
}

#pricing .pricing-main .pricing-item .plan-content ul li:last-of-type {
  padding-bottom: 0 !important;
}

#pricing .pricing-main .pricing-item .plan-btn {
  position: absolute;
  bottom: -25px;
  left: 49%;
  transform: translateX(-49%);
}

#pricing .pricing-main .pricing-item .plan-btn a {
  line-height: 50px;
  background: linear-gradient(0deg, #570dc8, #9e4efc);
  filter: drop-shadow(0px 5px 0px #3a0090);
  text-shadow: 0px 6px 3px #570dc8;
  padding: 0 30px !important;
  border-radius: 6px !important;
  transition: all linear 0.4s;
}

#pricing .pricing-main .pricing-item:hover .plan-btn a {
  background: var(--btnhov);
  filter: drop-shadow(0px 5px 0px #661355);
  text-shadow: 0px 6px 3px #661355;
}

/* =================================================================
                          pricing css ends
================================================================= */

#ask {
  background: #150035;
  padding-top: 95px;
  padding-bottom: 100px;
}

#ask .faq .faq-main {
  padding-top: 60px;
}

#ask .faq .faq-main .faq-item {
  border: 1px solid transparent;
  padding: 23px 30px !important;
  margin-bottom: 7px;
}

#ask .faq .faq-main .faq-item:last-of-type {
  margin-bottom: 0;
}

.border-red {
  border-color: #fdb125 !important;
  transition: all linear 0.4s;
}

#ask .faq .faq-main .faq-item .faq-heading {
  cursor: pointer;
  position: relative;
}

#ask .faq .faq-main .faq-item .faq-heading .down-arrow {
  position: absolute;
  right: 0;
  top: 0;
}

/* #ask .faq .faq-main .faq-item .faq-heading h3 {
  padding-right: 150px !important;
} */

#ask .faq .faq-main .faq-item .faq-content {
  display: none;
}

#ask .faq .faq-main .faq-item .faq-content p {
  font-size: 15px;
  line-height: 26px;
  padding-top: 20px !important;
}

#ask .time-remaning .timer-text h3 {
  line-height: 70px;
}

#ask .time-remaning ul li {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

/* =================================================================
                          ask css ends
================================================================= */
